.notify-container {
    position: relative;
}

#notifications {
    width: 300px;
    position: absolute;
    top: 50px;
    left: 0;
    background: #FFF;
    border: solid 1px rgba(100, 100, 100, .20);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .20);
    z-index: 0;
}

.notification-body {
    height: 250px;
    overflow-y: auto;
}

.notification-body::-webkit-scrollbar {
    width: 0.3em;
}

.notification-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.notification-body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


/* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */

#notifications:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid #CCC;
    border-color: transparent transparent #FFF;
    margin-top: -20px;
    margin-left: 10px;
}

#notifications h3 {
    display: block;
    color: #333;
    background: #FFF;
    font-weight: bold;
    font-size: 13px;
    padding: 8px;
    margin: 0;
    border-bottom: solid 1px rgba(100, 100, 100, .30);
}

#notifications ul {
    list-style: none;
    padding-left: 0;
}

#notifications ul li {
    padding: 5px 10px;
    border-bottom: 1px #ececec solid;
    cursor: pointer;
}